/* estilos_pedidos.css */

body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #009879;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

th {
    background-color: #009879;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

a {
    color: #009879;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #007a60;
}

/* Estilo específico para el enlace "Volver" */
a[href="/metricas"] {
    display: block;
    margin-top: 20px;
    text-align: center;
}